# TYPE INPUT() 

* In python using the input() function, we take input from the user and using the print() function ,we display the output on the screen . any data given in input is string

# QUESTION MATTERS

ANSWER THESE FOLLOWING QUESTIONS DAILY 
* what one thing --if i did it -- would profoundly improve the way i work(and how i live)??
* what needs to happen betweew how and the end of the next 90 days for me to feel that this is the best quater of my work and personl life?(remember clarity preceds mastery.)
* what do i need to express appreciation to?(make your list long)
* what would i like to improve , professionaly and personally ?
* what could be i granted for that i am not currently not gratefull for?
* how do i want to be rembered at my last day of the journey?

In [1]:
# take value fron user
name = input("enter employee name: ") 
print("I am " ,name)

enter employee name: bhumi
I am  bhumi

In [4]:
name = input("aura name : ")

aura name : joker

In [ ]:
name = input("aura name :")
salary = input("cost : ")
age = input("below 20 : ")
print("i am", name)
print(name)
print(salary)
print(age)

In [2]:
name = input(" enter your name : ")
print("hello," + name + "! nice to meet you")

 enter your name : bhumi
hello,bhumi! nice to meet you

In [10]:
name = input(" total no. of students : ")
print(" science students " + name + " in the class ")

 total no. of students : 80
 science students 80 in the class

In [20]:
name = input("company ltd :")
area = input("area located :")
contact = input("phone no. :")

print("\n")
print(name)
print(area)
print(contact)

company ltd :xyz
area located :haldwani
phone no. :78643937


xyz
haldwani
78643937

In [21]:
name = input("name")
age = input("age")
school = input("school")

print(name)
print(age)
print(school)

namebhumi
age20
schoolthe masters school
bhumi
20
the masters school

In [25]:
# take three values from user 
name = input(" enter employee name: ")
salary = input("enter salary: ")
company = input("enter company name: ")

# display all values on screen 
print("\n")
print("printing emplooye details")
print("name","salary","company")
print(name, salary, company)
type(print(name))

 enter employee name: bhummi
enter salary: 6484
enter company name: xyz


printing emplooye details
name salary company
bhummi 6484 xyz
bhummi

NoneType

In [8]:
print(type(name))

<class 'str'>

In [2]:
print(1,2,3)

1 2 3

In [4]:
brands = input("laptop brands :")
cost = input("cost : ")

print("\n")
print(brands)
print(cost)

laptop brands :hp
cost : 45,000


hp
45,000

In [2]:
# enter your age 
age = input("enter your age :")

enter your age :20

In [3]:
name = input("student name")
age = input("student age")
address = input("student address")
parents = input("father's name")
feild = input("student stream")

print("\n")
print("name","age","address","parents","feild")
print(name,age,address,parents,feild)

student nameBHUMI SHARMA
student age20
student addressHALDWANI
father's nameMR.RAJEEV SHARMA
student streamCOMMERCE


name age address parents feild
BHUMI SHARMA 20 HALDWANI MR.RAJEEV SHARMA COMMERCE

In [4]:
name = input("student name :")
age = input("student age :")
address = input("student address :")
parents = input("father's name :")
feild = input("student stream :")

print("\n")
print("name","age","address","parents","feild")
print(name,age,address,parents,feild)

student name :BHUMI SHARMA
student age :20
student address :HALDWANI
father's name :MR.RAJEEV SHARMA
student stream :COMMERCE


name age address parents feild
BHUMI SHARMA 20 HALDWANI MR.RAJEEV SHARMA COMMERCE

In [6]:
name = input("student name :")
age = input("student age :")
address = input("student address :")
parents = input("father's name :")
feild = input("student stream :")

print("\n")
print("name",name ,"age", age,"address" , address,"parents" , parents,"feild", feild)
print(name,age,address,parents,feild)

student name :bhumi
student age :20
student address :haldwani
father's name :mr rajeev sharma
student stream :commerce


name bhumi age 20 address haldwani parents mr rajeev sharma feild commerce
bhumi 20 haldwani mr rajeev sharma commerce

In [7]:
name = input("student name :")
age = input("student age :")
address = input("student address :")
parents = input("father's name :")
feild = input("student stream :")

print("\n")
print("name",name)
print("age", age)
print("address" , address)
print("parents" , parents)
print("feild", feild)
print(name,age,address,parents,feild)

student name :BHUMI
student age :20
student address :HALDWANI
father's name :MR.RAJEEV SHARMA
student stream :COMMERCE


name BHUMI
age 20
address HALDWANI
parents MR.RAJEEV SHARMA
feild COMMERCE
BHUMI 20 HALDWANI MR.RAJEEV SHARMA COMMERCE

In [7]:
x  = input("even number :") # the output which is givem here is an the part of concatination.
y = input("odd number :")
z = x+y # HERE THE INPUT GIVEN BY THE USER IS AN STRING SO THE OPERATER WILL OPERATE AS AN CONCATINATION.
print(z)

even number :4
odd number :5
45

In [6]:
x = input()

BHUMI

In [4]:
y = input(2+1)

3bhumi

In [1]:
x = input("this is an even number :")

this is an even number :24

In [2]:
int(x)

24

In [13]:
y = input("this is an odd number :")
print(type(x))
print(int(x))
print(type(x))

this is an odd number :67
<class 'str'>
67
<class 'str'>

In [20]:
p = input(" this is an odd number : ")
print(type(p))

 this is an odd number : 5
<class 'str'>

In [9]:
q = input("values given : ")
print(type(q)),(float(q))

values given : 67
<class 'str'>

(None, 67.0)

In [10]:
q = input("values given : ")
print(float(q)),(int(q)),(complex(q))

values given : 78
78.0

(None, 78, (78+0j))

In [13]:
q = input("values given : ")
print(type(float(q)),type(int(q)),type(complex(q)))

values given : 90
<class 'float'> <class 'int'> <class 'complex'>

In [14]:
marks = float(input("enter marks"))
print("\n")
print("student marks is : ", marks)
print("type is :", type(marks))

enter marks657


student marks is :  657.0
type is : <class 'float'>

In [15]:
marks = complex(input("enter marks"))
print("\n")
print("student marks is : ", marks)
print("type is :", type(marks))

enter marks87


student marks is :  (87+0j)
type is : <class 'complex'>

In [23]:
h = float(input("no. of products sold"))
print("type is :" , type(h))

no. of products sold83
type is : <class 'float'>

In [26]:
h = int(input("no. of products sold"))

no. of products sold89.9

ValueError: invalid literal for int() with base 10: '89.9'

In [16]:
marks = bool(input("enter marks"))
print("\n")
print("student marks is : ", marks)
print("type is :", type(marks))

enter marks09


student marks is :  True
type is : <class 'bool'>

In [17]:
marks = int(input("enter marks"))
print("\n")
print("student marks is : ", marks)
print("type is :", type(marks))

enter marks34


student marks is :  34
type is : <class 'int'>

In [18]:
books = float(input("books bundle"))
print("\n")
print("number of book bundle : ")

books bundle6


number of book bundle :

In [2]:
books = float(input("numbers of books sold"))
print("type of books sold :" , type(books))

numbers of books sold748655667875
type of books sold : <class 'float'>

In [22]:
flowers = complex(input(" name of flowers : "))
print("\n")
print("name of flower :" , name )

 name of flowers : tulip

ValueError: complex() arg is a malformed string

In [3]:
type(5)

int

In [4]:
int(5)

5

In [5]:
float(5)

5.0

In [6]:
a = input("number : ")
print("a +p")

number : 4
a +p