In [ ]:
Exercise 1: Calculate the multiplication and sum of two numbers.
Exercise 2: Print the sum of the current number and the previous number.
Exercise 3: Print characters from a string that are present at an even index number.
Exercise 4: Remove first n characters from a string.
Exercise 5: Check if the first and last number of a list is the same .
Exercise 6: Display numbers divisible by 5 from a list.
Exercise 7: Return the count of a given substring from a string.
Exercise 8: Print the following pattern.
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
f = list(range(int(input())))
for e in f:
    g = str(e)
    print(e*g)

In [ ]:
y = set()
type(y)

In [ ]:
num1 = int(input("first two digit number:"))
num2 = int(input("second two digit number:"))
num3 = str(num1)+ '+' +str(num2)+ '='+ str(num1) + str(num2)  
print(num3)
num12 = int(input("first two digit number:"))
num13 = int(input("second two digit number:"))     
num6 = num12%10
num7 = num13%10
num8 = num12//10
num9 = num13//10
num14 = str(num6)+"*"+str(num8)+"+"+str(num7)+"*"+str(num9)+"="+str(num6*num7+num8*num9)
print(num14)

In [ ]:
num12 = int(input("first value:"))
num13 = int(input("second value:"))
num14 = str(num12)+'*'+str(num13)+'='+str(num12*num13)
print(num14)

In [ ]:
num1 = int(input("first digit number:"))
num2 = int(input("second digit number:"))
num3 = str(num1)+ '+' +str(num2)+ '='+ str(num1) + str(num2)  
print(num3)
num12 = int(input("first value:"))
num13 = int(input("second value:"))
num14 = str(num12)+'*'+str(num13)+'='+str(num12*num13)
print(num14)

In [ ]:
num1 = int(input("first digit number:"))
num2 = int(input("second digit number:"))
print(num1+num2),print(num1*num2),print(num1/num2),print(num1-num2)

In [ ]:
x = int(input("Enter the first number:"))
y = int(input("Enter the second number: "))
if  :
    print(x+y)
if x-y :
    print(x-y)
if x*y :
    print(x*y)
if x/y :
    print(x/y)

In [ ]:
dict = {"dimple":"english","rakesh":40}
print(dict)

In [ ]:
# Write a code to display the name of 10 students through thier roll number (by user)
a = int(input("enter roll number:"))
if a==1:
    print("Bhumika sharma")
if a==2:
    print("Rishi singh")
if a==3:
    print("Reyansh sharma")
if a==4:
    print("Harshita nayal")
if a==5:
    print("Alka sharma")
if a==6:
    print("Dimple joshi")
if a==7:
    print("Rakesh sinha")
if a==8:
    print("Kamal sharma")
if a==9:
    print("Pratibha joshi")
if a==10:
    print("Rahul joshi")

In [ ]:
# Write a code to display the name of 10 students through thier roll number (by user)
a = int(input("enter roll number:"))
if a==1:
    print("Bhumika sharma")
if a==2:
    print("Rishi singh")
if a==3:
    print("Reyansh sharma")
if a==4:
    print("Harshita nayal")
if a==5:
    print("Alka sharma")
if a==6:
    print("Dimple joshi")
if a==7:
    print("Rakesh sinha")
if a==8:
    print("Kamal sharma")
if a==9:
    print("Pratibha joshi")
if a==10:
    print("Rahul joshi")    
else:
    print("out of number")

In [ ]:
y = {1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}
x = int(input("students:"))   # add another dict from the user
y[x]

In [ ]:
x = "bhumi"
y = "Bhumi"
x,y = y,x
print(x)

In [ ]:
a = "bhumi"
x = [0]
y = [1:]
x = x.upper()
b = x+y
print(b)

In [ ]:
set1 = {10,20,30,40,50}
set2 ={30,40,50,60}
(set1.union(set2))

In [ ]:
set1.intersection(set2)

In [ ]:
set1.symmetric_difference(set2)

In [ ]:
set1.remove(10),set1.remove(20),set1.remove(30)
set1

In [ ]:
x = input("Number:")
if x[0:10:1]:
    print("its an even number",x)
if x[::]:
    print("its an odd number",x)
else :
    print("its an odd number",x)

In [ ]:
# program to check wheather a number is odd or even ??
# cheack wheather a number is a palindrome number ??
#  palindrome number : numbers which if we reverse them but there values are not chamge like(141,242,131)

In [ ]:
x = input("Number:")
if x[0: : ]==x[::-1]:
    print("its an palindrome number",x)
else :
    print("its not an palindrome number",x)
type(x)

In [ ]:
x = int(input("enter a number:"))
if x%2==0:
    print("its an even number")
else:
    print("its an odd number")

In [ ]:
# take the input from the user and make program in which if we give any number it will give the whole table of it ??
x = int(input("enter the number:"))
y = range(1,11)
y==1
print(str(x)+"x"+ str(y) + "=" + str(x*y)) + '\n'

In [ ]:
i = int(input("num:"))
if i*i:
    print(str(i)+ '*' + str(1) + '=' + str(i*1))
    print(str(i)+ '*' + str(2) + '=' + str(i*2))
    print(str(i)+ '*' + str(3) + '=' + str(i*3))
    print(str(i)+ '*' + str(4) + '=' + str(i*4))
    print(str(i)+ '*' + str(5) + '=' + str(i*5))
    print(str(i)+ '*' + str(6) + '=' + str(i*6))
    print(str(i)+ '*' + str(7) + '=' + str(i*7))
    print(str(i)+ '*' + str(8) + '=' + str(i*8))
    print(str(i)+ '*' + str(9) + '=' + str(i*9))
    print(str(i)+ '*' + str(10) + '=' + str(i*10))
type(i)

In [ ]:
x = int(input("enter the number:"))
for y in range(1,11):
    for y in x*y:
        print(x,'*',y,'=',x*y)

In [ ]:
for x in range(1,11):
    if x*2:
        print(2,'*',x, '=',2*x)
        for y in range(1,11):
            if y*3:
                print(3,'*',y,"=",3*y)

In [ ]:
# print the multipication table of 2:
for x in range(1,11):
    print(2,' * ',x, '=',x*2)

In [ ]:
for i in range(1,11):
    for y in range(2,8):
        print(y,'*',i,'=',y*i,end="\t")
    print()

In [ ]:
for y in range(1,11):
    if x==2:
        print(x,' * ',y, '=',x*y)
        for y in range(1,11):
            if x==3:
                print(x,'*',y,'=',x*y)

In [ ]:
for x in range(1,11,1):
    print(2,' * ',x, '=',x*2)
    for x in range(1,11,1):
        print(3,' * ',x, '=',x*3)
        for x in range(1,11,1):
            print(4,' * ',x, '=',x*4)
            for x in range(1,11,1):
                print(5,' * ',x, '=',x*5)
                for x in range(1,11,1):
                    print(6,' * ',x, '=',x*6)
                    for x in range(1,11,1):
                        print(7,' * ',x, '=',x*7)

In [ ]:
for x in range(1,11):
    for y in range(1,11):
        for v in range(1,11):
            for b in range(1,11):
                for c in range(1,11):
                    for n in range(1,11):
                        print(2,' * ',x, '=',x*2)
                        print(3,' * ',y, '=',y*3)
                        print(4,' * ',v, '=',v*4)
                        print(5,' * ',b, '=',b*5)
                        print(6,' * ',c, '=',c*6)
                        print(7,' * ',n, '=',n*7)

In [ ]:
for x in range(1,11):
    print(2,' * ',x, '=',x*2)
for y in range(1,11):
    print(3,'*',y,'=',y*3)
for v in range(1,11):
    print(4,'*',v,'=',v*4)
for b in range(1,11):
    print(5,'*',b,'=',b*5)
for c in range(1,11):
    print(6,'*',c,'=',c*6)
for n in range(1,11):
    print(7,'*',n,'=',n*7)

In [ ]:
x = int(input("Enter the number:"))
for y in 1,2,3,4,5,6,7,8,9,10:
    for x in x,'*',y,'=',x*y  :
        print(x)

In [ ]:
t = int(input("Enter the number:"))
w = 1,2,3,4,5,6,7,8,9,10
for e in w:
    print(t,'*',e,'=',t*e)

In [ ]:
i = int(input("num:"))
if i*i:
    print(str(i)+ '*' + str(1) + '=' + str(i*1))

In [ ]:
i = int(input("num:"))
if i*i:
    print((i)+ '*' + (1) + '=' + (i*1))

In [ ]:
x = int(input("Enter the number:"))
i = 1
if i>11:
    (str(x)+"x"+ str(i) + "=" + str(x*i)) + '\n'

In [ ]:
# make a calculator?? with if else statment??
x = int(input("Enter the first number:"))
y = int(input("Enter the second number:"))
if x+y==0:
    print("added number:",x)
if x-y==0:
    print("substracted number:",x)
if x*y==0:
    print("multiplyed nuumber:",x)
if x/y==0:
    print("divided number:",x)
else:
    print("Invalid number,please put the positive integers")

In [ ]:
x = int(input("Enter the first number:"))
y = int(input("Enter the second number:"))
z = input("which arithmatic operation: ")
if z=="add":
    print(x+y)
else:
    print(x+y)
if z=="substract":
    print(x-y)
else:
    print(x-y)
if z=="multiply":
    print(x*y)
else:
    print(x*y)
if z=="divide":
    print(x/y)
else:
    print(x/y
         )

In [ ]:
x = int(input("Enter the first number:"))
y = int(input("Enter the second number:"))
z = input("which arithmatic operation: ")
if z=="add":
    print(x+y)
if z=="substract":
    print(x-y)
if z=="multiply":
    print(x*y)
if z=="divide":
    print(x/y)
if z=="modulous":
    print(x%y)
if z=="floor division":
    print(x//y)

In [ ]:
x = int(input("Enter the first number:"))
y = int(input("Enter the second number:"))
z = input("which arithmatic operation: ")
if z=="add":
    print(x+y)
if z=="substract":
    print(x-y)
if z=="multiply":
    print(x*y)
if z=="divide":
    print(x/y)

In [ ]:
x = int(input("Enter the first number:"))
y = int(input("Enter the second number:"))
z = input("To do operations use (a=add,s=substract,m=multiply,d=divide): ")
a = x+y
s = x-y
m = x*y
d = x/y
if z==a:
    print(a)
if z==s:
    print(s)
if z==m:
    print(m)
if z==d:
    print(d)

In [ ]:
# print the sum of all even numbers from 1 to 10
sum=0
for i in range(1,11):
    if i%2==0:
        sum = sum + i  # sum+=i
print("the sum of even number from 1 to 10 is:",sum)

In [ ]:
# classify numbers from 1 to 100 as even or odd??
x = range(1,101)  # we can also write it as range(1,100+1)
for i in x:
    if i%2==0:
        print("it is an even number:",i)
    else:
        print("it is an odd number:",i)

In [ ]:
sum=0
for i in range(2,11,2):
        sum+=i
print(sum)

In [ ]:
sum_of_numbers=0
for _range in range(2,11,2):
    sum_of_num==sum(_range)
print(_range)

In [ ]:


number = list(i for i in range(2,11,2))
sum_of_numbers = sum(number)
print(number)

In [ ]:
# ask the user for the range from which the even numbers should be printed???

In [ ]:
r = int(input("start:"))
e = int(input("stop:"))
sum = 0
for q in range(r,e+1,2):
    if q%2==0:
        sum+=q
print(sum)

In [ ]:
a = range(int(input()))
sum=0
for i in a:
    if i%2==0:
        sum+=i
print(sum)

In [ ]:
x = input("Enter the range from were you want the sum of even numbers:")
sum=0
for i in x:
    if i%2==0:
        sum+=i
print(sum)

In [ ]:
x = range(input("Enter the range from were you want the sum of even numbers:"))
sum=0
for i in x:
    if i%2==0:
        sum+=i
print(sum)

In [ ]:
b = int(input("Enter the range from were you want the sum of even numbers:"))
range(b)

In [ ]:
# square each number inside a list and finally print it??
x = [2**,3**,4**,5**]
print(x)

In [ ]:
x = [[2*2],[3*3],[4*4],[5*5]]
print(x)

In [ ]:
x = [2,3,4,5]
_square = [num*num for num in x]
print(_square)

In [ ]:
x = [2,3,4,5]
for x in x:
    print(x*x)

In [ ]:
for x in x:
    print(x)
type(x)

In [ ]:
for x in [[2*2],[3*3],[4*4],[5*5]]:
    print(x)

In [ ]:
list = [2,3,4,5]
for x in [2,3,4,5]:
    print(x*[2,3,4,5])

In [ ]:
v = [2,3,4,5]
for x in list[v]:
    print(x*x)

In [ ]:
x = list[2,3,4,5]
_square = list
for y in x:
    _square.append(y*y)
print(_square)

In [ ]:
x = list[2,3,4,5]
_square = []
for y in x:
    _square.append(y*y)
print(_square)

In [ ]:
x = [2,3,4,5]
_square = []
for y in x:
    _square.append(y*y)
print(_square)
print(type(_square))
print(id(x))
print(id(y))
print(id(_square))

In [ ]:
y = {1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}
x = int(input("students:"))   # add another dict from the user
y[x]

In [ ]:
y = {1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}
x = input("students:")   # add another dict from the user
print(y)

In [ ]:
y = {1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}
x = int(input("students:"))   
y[x]