In [1]:
Exercise 1: Calculate the multiplication and sum of two numbers.
Exercise 2: Print the sum of the current number and the previous number.
Exercise 3: Print characters from a string that are present at an even index number.
Exercise 4: Remove first n characters from a string.
Exercise 5: Check if the first and last number of a list is the same .
Exercise 6: Display numbers divisible by 5 from a list.
Exercise 7: Return the count of a given substring from a string.
Exercise 8: Print the following pattern.
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

SyntaxError: invalid syntax (4059866254.py, line 1)

In [12]:
f = list(range(int(input())))
for e in f:
    g = str(e)
    print(e*g)

6

1
22
333
4444
55555

In [20]:
f = list(range(int(input())))
for e in f:
    g = str(e)
    print("* "*e)

6

*
* *
* * *
* * * *
* * * * *

In [1]:
for e in range(6):
    g = str(e)
    print("*"*e)

*
**
***
****
*****

In [6]:
for e in range(6):
    print(e*"* ")

*
* *
* * *
* * * *
* * * * *

In [8]:
for e in list(range(6,-1)):
    g = str(e)
    print("*"*e)

In [11]:
for x in range(6):
    if x[::-1]:
        y = str(x)
        print("*"*x)

TypeError: 'int' object is not subscriptable

In [ ]:
y = set()
type(y)

In [ ]:
num1 = int(input("first two digit number:"))
num2 = int(input("second two digit number:"))
num3 = str(num1)+ '+' +str(num2)+ '='+ str(num1) + str(num2)  
print(num3)
num12 = int(input("first two digit number:"))
num13 = int(input("second two digit number:"))     
num6 = num12%10
num7 = num13%10
num8 = num12//10
num9 = num13//10
num14 = str(num6)+"*"+str(num8)+"+"+str(num7)+"*"+str(num9)+"="+str(num6*num7+num8*num9)
print(num14)

In [ ]:
num12 = int(input("first value:"))
num13 = int(input("second value:"))
num14 = str(num12)+'*'+str(num13)+'='+str(num12*num13)
print(num14)

In [ ]:
num1 = int(input("first digit number:"))
num2 = int(input("second digit number:"))
num3 = str(num1)+ '+' +str(num2)+ '='+ str(num1) + str(num2)  
print(num3)
num12 = int(input("first value:"))
num13 = int(input("second value:"))
num14 = str(num12)+'*'+str(num13)+'='+str(num12*num13)
print(num14)

In [ ]:
num1 = int(input("first digit number:"))
num2 = int(input("second digit number:"))
print(num1+num2),print(num1*num2),print(num1/num2),print(num1-num2)

In [ ]:
x = int(input("Enter the first number:"))
y = int(input("Enter the second number: "))
if  :
    print(x+y)
if x-y :
    print(x-y)
if x*y :
    print(x*y)
if x/y :
    print(x/y)

In [ ]:
dict = {"dimple":"english","rakesh":40}
print(dict)

In [ ]:
# Write a code to display the name of 10 students through thier roll number (by user)
a = int(input("enter roll number:"))
if a==1:
    print("Bhumika sharma")
if a==2:
    print("Rishi singh")
if a==3:
    print("Reyansh sharma")
if a==4:
    print("Harshita nayal")
if a==5:
    print("Alka sharma")
if a==6:
    print("Dimple joshi")
if a==7:
    print("Rakesh sinha")
if a==8:
    print("Kamal sharma")
if a==9:
    print("Pratibha joshi")
if a==10:
    print("Rahul joshi")

In [ ]:
# Write a code to display the name of 10 students through thier roll number (by user)
a = int(input("enter roll number:"))
if a==1:
    print("Bhumika sharma")
if a==2:
    print("Rishi singh")
if a==3:
    print("Reyansh sharma")
if a==4:
    print("Harshita nayal")
if a==5:
    print("Alka sharma")
if a==6:
    print("Dimple joshi")
if a==7:
    print("Rakesh sinha")
if a==8:
    print("Kamal sharma")
if a==9:
    print("Pratibha joshi")
if a==10:
    print("Rahul joshi")    
else:
    print("out of number")

In [ ]:
y = {1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}
x = int(input("students:"))   # add another dict from the user
y[x]

In [11]:
x = "bhumi"
y = "Bhumi"
x,y = y,x
print(x)

Bhumi

In [6]:
a = "bhumi"
x = [0]
y = [1:]
x = x.upper()
b = x+y
print(b)

SyntaxError: invalid syntax (422488667.py, line 3)

In [7]:
set1 = {10,20,30,40,50}
set2 ={30,40,50,60}
(set1.union(set2))

{10, 20, 30, 40, 50, 60}

In [8]:
set1.intersection(set2)

{30, 40, 50}

In [9]:
set1.symmetric_difference(set2)

{10, 20, 60}

In [10]:
set1.remove(10),set1.remove(20),set1.remove(30)
set1

{40, 50}

In [5]:
x = input("Number:")
if x[0:10:1]:
    print("its an even number",x)
if x[::]:
    print("its an odd number",x)
else :
    print("its an odd number",x)

Number:45
its an even number 45
its an odd number 45

In [ ]:
# program to check wheather a number is odd or even ??
# cheack wheather a number is a palindrome number ??
#  palindrome number : numbers which if we reverse them but there values are not chamge like(141,242,131)

In [4]:
x = input("Number:")
if x[0: : ]==x[::-1]:
    print("its an palindrome number",x)
else :
    print("its not an palindrome number",x)
type(x)

Number:123
its not an palindrome number 123

str

In [3]:
x = int(input("enter a number:"))
if x%2==0:
    print("its an even number")
else:
    print("its an odd number")

enter a number:5
its an odd number

In [2]:
# take the input from the user and make program in which if we give any number it will give the whole table of it ??
x = int(input("enter the number:"))
y = range(1,11)
y==1
print(str(x)+"x"+ str(y) + "=" + str(x*y)) + '\n'

enter the number:6

TypeError: unsupported operand type(s) for *: 'int' and 'range'

In [1]:
i = int(input("num:"))
if i*i:
    print(str(i)+ '*' + str(1) + '=' + str(i*1))
    print(str(i)+ '*' + str(2) + '=' + str(i*2))
    print(str(i)+ '*' + str(3) + '=' + str(i*3))
    print(str(i)+ '*' + str(4) + '=' + str(i*4))
    print(str(i)+ '*' + str(5) + '=' + str(i*5))
    print(str(i)+ '*' + str(6) + '=' + str(i*6))
    print(str(i)+ '*' + str(7) + '=' + str(i*7))
    print(str(i)+ '*' + str(8) + '=' + str(i*8))
    print(str(i)+ '*' + str(9) + '=' + str(i*9))
    print(str(i)+ '*' + str(10) + '=' + str(i*10))
type(i)

num:6
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

int

In [ ]:
x = int(input("enter the number:"))
for y in range(1,11):
    for y in x*y:
        print(x,'*',y,'=',x*y)

In [ ]:
for x in range(1,11):
    if x*2:
        print(2,'*',x, '=',2*x)
        for y in range(1,11):
            if y*3:
                print(3,'*',y,"=",3*y)

In [ ]:
# print the multipication table of 2:
for x in range(1,11):
    print(2,' * ',x, '=',x*2)

In [ ]:
for i in range(1,11):
    for y in range(2,8):
        print(y,'*',i,'=',y*i,end="\t")
    print()

In [ ]:
for y in range(1,11):
    if x==2:
        print(x,' * ',y, '=',x*y)
        for y in range(1,11):
            if x==3:
                print(x,'*',y,'=',x*y)

for x in range(1,11,1):
    print(2,' * ',x, '=',x*2)
    for x in range(1,11,1):
        print(3,' * ',x, '=',x*3)
        for x in range(1,11,1):
            print(4,' * ',x, '=',x*4)
            for x in range(1,11,1):
                print(5,' * ',x, '=',x*5)
                for x in range(1,11,1):
                    print(6,' * ',x, '=',x*6)
                    for x in range(1,11,1):
                        print(7,' * ',x, '=',x*7)

for x in range(1,11):
    for y in range(1,11):
        for v in range(1,11):
            for b in range(1,11):
                for c in range(1,11):
                    for n in range(1,11):
                        print(2,' * ',x, '=',x*2)
                        print(3,' * ',y, '=',y*3)
                        print(4,' * ',v, '=',v*4)
                        print(5,' * ',b, '=',b*5)
                        print(6,' * ',c, '=',c*6)
                        print(7,' * ',n, '=',n*7)

for x in range(1,11):
    print(2,' * ',x, '=',x*2)
for y in range(1,11):
    print(3,'*',y,'=',y*3)
for v in range(1,11):
    print(4,'*',v,'=',v*4)
for b in range(1,11):
    print(5,'*',b,'=',b*5)
for c in range(1,11):
    print(6,'*',c,'=',c*6)
for n in range(1,11):
    print(7,'*',n,'=',n*7)

In [ ]:
x = int(input("Enter the number:"))
for y in 1,2,3,4,5,6,7,8,9,10:
    for x in x,'*',y,'=',x*y  :
        print(x)

In [ ]:
t = int(input("Enter the number:"))
w = 1,2,3,4,5,6,7,8,9,10
for e in w:
    print(t,'*',e,'=',t*e)

In [ ]:
i = int(input("num:"))
if i*i:
    print(str(i)+ '*' + str(1) + '=' + str(i*1))

In [ ]:
i = int(input("num:"))
if i*i:
    print((i)+ '*' + (1) + '=' + (i*1))

In [ ]:
x = int(input("Enter the number:"))
i = 1
if i>11:
    (str(x)+"x"+ str(i) + "=" + str(x*i)) + '\n'

In [ ]:
# make a calculator?? with if else statment??
x = int(input("Enter the first number:"))
y = int(input("Enter the second number:"))
if x+y==0:
    print("added number:",x)
if x-y==0:
    print("substracted number:",x)
if x*y==0:
    print("multiplyed nuumber:",x)
if x/y==0:
    print("divided number:",x)
else:
    print("Invalid number,please put the positive integers")

In [ ]:
x = int(input("Enter the first number:"))
y = int(input("Enter the second number:"))
z = input("which arithmatic operation: ")
if z=="add":
    print(x+y)
else:
    print(x+y)
if z=="substract":
    print(x-y)
else:
    print(x-y)
if z=="multiply":
    print(x*y)
else:
    print(x*y)
if z=="divide":
    print(x/y)
else:
    print(x/y
         )

In [3]:
x = int(input("Enter the first number:"))
y = int(input("Enter the second number:"))
z = input("which arithmatic operation: ")
if z=="add":
    print(x+y)
if z=="substract":
    print(x-y)
if z=="multiply":
    print(x*y)
if z=="divide":
    print(x/y)
if z=="modulous":
    print(x%y)
if z=="floor division":
    print(x//y)

Enter the first number:

ValueError: invalid literal for int() with base 10: ''

In [4]:
x = int(input("Enter the first number:"))
y = int(input("Enter the second number:"))
z = input("which arithmatic operation: ")
if z=="add":
    print(x+y)
if z=="substract":
    print(x-y)
if z=="multiply":
    print(x*y)
if z=="divide":
    print(x/y)

Enter the first number:

ValueError: invalid literal for int() with base 10: ''

In [5]:
x = int(input("Enter the first number:"))
y = int(input("Enter the second number:"))
z = input("To do operations use (a=add,s=substract,m=multiply,d=divide): ")
a = x+y
s = x-y
m = x*y
d = x/y
if z==a:
    print(a)
if z==s:
    print(s)
if z==m:
    print(m)
if z==d:
    print(d)

Enter the first number:

ValueError: invalid literal for int() with base 10: ''

In [6]:
# print the sum of all even numbers from 1 to 10
sum=0
for i in range(1,11):
    if i%2==0:
        sum = sum + i  # sum+=i
print("the sum of even number from 1 to 10 is:",sum)

the sum of even number from 1 to 10 is: 30

In [7]:
# classify numbers from 1 to 100 as even or odd??
x = range(1,101)  # we can also write it as range(1,100+1)
for i in x:
    if i%2==0:
        print("it is an even number:",i)
    else:
        print("it is an odd number:",i)

it is an odd number: 1
it is an even number: 2
it is an odd number: 3
it is an even number: 4
it is an odd number: 5
it is an even number: 6
it is an odd number: 7
it is an even number: 8
it is an odd number: 9
it is an even number: 10
it is an odd number: 11
it is an even number: 12
it is an odd number: 13
it is an even number: 14
it is an odd number: 15
it is an even number: 16
it is an odd number: 17
it is an even number: 18
it is an odd number: 19
it is an even number: 20
it is an odd number: 21
it is an even number: 22
it is an odd number: 23
it is an even number: 24
it is an odd number: 25
it is an even number: 26
it is an odd number: 27
it is an even number: 28
it is an odd number: 29
it is an even number: 30
it is an odd number: 31
it is an even number: 32
it is an odd number: 33
it is an even number: 34
it is an odd number: 35
it is an even number: 36
it is an odd number: 37
it is an even number: 38
it is an odd number: 39
it is an even number: 40
it is an odd number: 41
it is an even number: 42
it is an odd number: 43
it is an even number: 44
it is an odd number: 45
it is an even number: 46
it is an odd number: 47
it is an even number: 48
it is an odd number: 49
it is an even number: 50
it is an odd number: 51
it is an even number: 52
it is an odd number: 53
it is an even number: 54
it is an odd number: 55
it is an even number: 56
it is an odd number: 57
it is an even number: 58
it is an odd number: 59
it is an even number: 60
it is an odd number: 61
it is an even number: 62
it is an odd number: 63
it is an even number: 64
it is an odd number: 65
it is an even number: 66
it is an odd number: 67
it is an even number: 68
it is an odd number: 69
it is an even number: 70
it is an odd number: 71
it is an even number: 72
it is an odd number: 73
it is an even number: 74
it is an odd number: 75
it is an even number: 76
it is an odd number: 77
it is an even number: 78
it is an odd number: 79
it is an even number: 80
it is an odd number: 81
it is an even number: 82
it is an odd number: 83
it is an even number: 84
it is an odd number: 85
it is an even number: 86
it is an odd number: 87
it is an even number: 88
it is an odd number: 89
it is an even number: 90
it is an odd number: 91
it is an even number: 92
it is an odd number: 93
it is an even number: 94
it is an odd number: 95
it is an even number: 96
it is an odd number: 97
it is an even number: 98
it is an odd number: 99
it is an even number: 100

In [8]:
sum=0
for i in range(2,11,2):
        sum+=i
print(sum)

30

In [9]:
sum_of_numbers=0
for _range in range(2,11,2):
    sum_of_num==sum(_range)
print(_range)

NameError: name 'sum_of_num' is not defined

In [10]:


number = list(i for i in range(2,11,2))
sum_of_numbers = sum(number)
print(number)

TypeError: 'int' object is not callable

In [11]:
# ask the user for the range from which the even numbers should be printed???

In [12]:
r = int(input("start:"))
e = int(input("stop:"))
sum = 0
for q in range(r,e+1,2):
    if q%2==0:
        sum+=q
print(sum)

start:

ValueError: invalid literal for int() with base 10: ''

In [13]:
a = range(int(input()))
sum=0
for i in a:
    if i%2==0:
        sum+=i
print(sum)

ValueError: invalid literal for int() with base 10: ''

In [14]:
x = input("Enter the range from were you want the sum of even numbers:")
sum=0
for i in x:
    if i%2==0:
        sum+=i
print(sum)

Enter the range from were you want the sum of even numbers:
0

In [15]:
x = range(input("Enter the range from were you want the sum of even numbers:"))
sum=0
for i in x:
    if i%2==0:
        sum+=i
print(sum)

Enter the range from were you want the sum of even numbers:

TypeError: 'str' object cannot be interpreted as an integer

In [16]:
b = int(input("Enter the range from were you want the sum of even numbers:"))
range(b)

Enter the range from were you want the sum of even numbers:

ValueError: invalid literal for int() with base 10: ''

In [17]:
# square each number inside a list and finally print it??
x = [2**,3**,4**,5**]
print(x)

SyntaxError: invalid syntax (3969768403.py, line 2)

In [18]:
x = [[2*2],[3*3],[4*4],[5*5]]
print(x)

[[4], [9], [16], [25]]

In [20]:
x = [2,3,4,5]
for x in x:
    print(x*x)

4
9
16
25

In [21]:
for x in x:
    print(x)
type(x)

TypeError: 'int' object is not iterable

In [22]:
for x in [[2*2],[3*3],[4*4],[5*5]]:
    print(x)

[4]
[9]
[16]
[25]

In [23]:
list = [2,3,4,5]
for x in [2,3,4,5]:
    print(x*[2,3,4,5])

[2, 3, 4, 5, 2, 3, 4, 5]
[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]
[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]
[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [24]:
v = [2,3,4,5]
for x in list[v]:
    print(x*x)

TypeError: list indices must be integers or slices, not list

In [25]:
x = list[2,3,4,5]
_square = list
for y in x:
    _square.append(y*y)
print(_square)

TypeError: list indices must be integers or slices, not tuple

In [26]:
x = list[2,3,4,5]
_square = []
for y in x:
    _square.append(y*y)
print(_square)

TypeError: list indices must be integers or slices, not tuple

In [19]:
x = [2,3,4,5]
_square = [num*num for num in x]
print(_square)

[4, 9, 16, 25]

In [2]:
x = [2,3,4,5]
_square = [a*a for a in x]
print(_square)

[4, 9, 16, 25]

In [1]:
x = [2,3,4,5]
_square = []
for y in x:
    _square.append(y*y)
print(_square)

[4, 9, 16, 25]

In [1]:
lst = [1,2,3,4,5]
print(lst)
print(id(lst))
for x in range(1,6):
    lst.remove(x)
    x= x**2
    print(x)
    lst.append(x)
print(lst)
print(id(lst))

[1, 2, 3, 4, 5]
2939124417600
1
4
9
16
25
[1, 4, 9, 16, 25]
2939124417600

In [28]:
y = {1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}
x = int(input("students:"))   # add another dict from the user
y[x]

students:

ValueError: invalid literal for int() with base 10: ''

In [29]:
y = {1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}
x = input("students:")   # add another dict from the user
print(y)

students:
{1: 'aa', 2: 'bb', 3: 'cc', 4: 'dd', 5: 'ee', 6: 'ff', 7: 'gg', 8: 'hh', 9: 'ii', 10: 'jj'}

In [30]:


y = {1:"aa",2:"bb",3:"cc",4:"dd",5:"ee",6:"ff",7:"gg",8:"hh",9:"ii",10:"jj"}
x = int(input("students:"))   
y[x]

students:9

'ii'

In [ ]:
# Print the pattern 
*
**
***
****
*****

In [13]:
for e in range(6):
    g = str(e)
    print("*"*e)

*
**
***
****
*****

In [14]:
for e in range(6):
    g = str(e)
    print("* "*e)

*
* *
* * *
* * * *
* * * * *

In [19]:
f = list(range(int(input())))
for e in f:
    g = str(e)
    print(e*g)

7

1
22
333
4444
55555
666666

In [1]:
# take a positive integer (3-digit) as input fron the user:
# check wheather the given number is armstrong number.
# eg. 153= 1**3 + 5**3 + 3**3
#     407= 4**3 + 0**3 + 7**3

In [7]:
num = int(input("Enter a 3-digit number:"))
sum=0
digit1=num%10
digit2=(num//10)%10
digit3=num//100
sum= digit1**3+digit2**3+digit3**3

if num==sum:
    print(num,'is an Armstrong number')
else:
    print(num,'is not an Armstrong number')

Enter a 3-digit number:407
407 is an Armstrong number

In [10]:
num = int(input("Enter a 3-digit number:"))
sum=0
for i in range(1,4):
    digit=int(str(num)[i-1])
    sum+=digit**3# sum = sum + digit**3
if num==sum:
    print(num,"is an Armstrong number")
else:
    print(num,"is not an Armstrong number")

Enter a 3-digit number:

ValueError: invalid literal for int() with base 10: ''

In [1]:
num = int(input("Enter a 3-digit number:"))
sum = 0
temp = num
while temp>0:
    digit = temp%10
    sum+=digit**3
    temp//10
if num==sum:
    print(num,'is an Armstrong number')
else:
    print(num,'is not an Armstrong number')

Enter a 3-digit number:153

KeyboardInterrupt:

In [6]:
x = input("Enter the armstrong number:")
if x==0:
    print(i**len(x))
else:
    print("its not the armstrong number")

Enter the armstrong number:153
its not the armstrong number

In [2]:
# take a positive integer as input from the user.Find the factorial of that number.
# eg.factorial of 4 = 1*2*3*4
# factorial of 0 is 1

In [14]:
a = list(range(int(input())))
for i in a:
    print(i*a)

4
[]
[0, 1, 2, 3]
[0, 1, 2, 3, 0, 1, 2, 3]
[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [17]:
a = tuple(range(int(input())))
for x in a:
    if x>a:
        print(x*a)

4

TypeError: '>' not supported between instances of 'int' and 'tuple'

In [10]:
num = int(input("enter the positive number:"))
factorial= 1
if num<0:
    print("factorial does not exist for negetive numbers")
elif num==0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num+1):
        factorial = factorial*i
    print("The factorial of num is",factorial)

enter the positive number:4
The factorial of num is 24

In [6]:
fac_ = int(input("Enter the number:"))
factorial=1
if fac_<0:
    print("it does not exist for the negetive number:")
elif fac_==1:
    print(" the factorial of 0 is ",1)
else:
    for i in range(1,fac_+1):
        fac_= fac_*i
    print("The factorial is:" , fac_)

Enter the number:4
The factorial is: 96

In [16]:
fac_ = int(input("Enter the number:"))
factorial=1
if fac_<0:
    print("it does not exist for the negetive number:")
elif fac_==0:
    print(" the factorial of 0 is ",1)
else:
    for i in range(1,fac_+1):
        factorial = factorial*i
    print("The factorial is:" ,factorial)

Enter the number:4
The factorial is: 24

In [14]:
4*3*2*1

24

In [8]:
1*2*3*4

24

In [ ]:
1