# Class And Objects

* Every thing in python is an **object**.

* Every object has the following properties:
 1. Identity : Every object must be uniquly identified.
 2. State : An object has attributes that represent the state of an object,
 3. Behavior : An object has methods that represent its behavior.

* Object is an **instance** of class.

* Class is an **buleprint** or code template for object creation . Using a class, you can create as many objects as you want.

In [7]:
# Creating a class
class class_name:
    """This is a docstring . I have created a class."""
    
class_name.__doc__

'This is a docstring . I have created a class.'

In [8]:
# when we create a function under an class it wil be an method.

In [25]:
# Define a class
class Person:
    def __init__(self,name,gender,profession):
        # State(attributes - variables)
        self.name_ = name
        self.gender_ = gender
        self.profession_ = profession
        
        
    
    # Behaviour( methods )
    def show(self):
        print("Name :" , self.name_, "Gender:", self.gender_,"Profession:", self.profession_)
        
    def work(self):
        print(self.name_,"is working as a ", self.profession_)

In [26]:
# here the object(Person) was passing itself in the function as an first argument, 
# from it self is having the argument person in it.

In [27]:
# Object Creation

ram = Person("ram","male","software developer")
shyam = Person("shyam","male","data scientist")

In [28]:
 Person("ram","male","software developer")

In [29]:
Person("shyam","male","data science")

In [30]:
# to acess the attribute
print(ram.name_)
print(ram.gender_)
print(ram.profession_)

ram
male
software developer

In [31]:
# to make an new attribute
ram.salary = 15000
print(ram.salary)

15000

In [32]:
print(shyam.name_)
print(shyam.gender_)
print(shyam.profession_)

shyam
male
data scientist

In [33]:
ram.show()

Name : ram Gender: male Profession: software developer

In [34]:
shyam.show()

Name : shyam Gender: male Profession: data scientist

In [35]:
shyam.work()

shyam is working as a  data scientist

In [ ]:
# Methods are defined for the object of a particular class whereas functions are not defined fo a particular class.

In [15]:
# create many objects,classes,there attributes.

In [9]:
class Rose:
    def __init__(rse,colour,price):
        rose.colour = colour
        rose.price = price
        class rose2:
            def __init__(rose2,colour,price):
                rose2.colour = colour
                rose2.price = price

In [10]:
hld = rose("pink",'780')

TypeError: 'rose' object is not callable

In [17]:
class Rose:
    def __init__(rose,colour,price):
        rose.colour_ = colour
        rose.price_ = price

In [23]:
hld = Rose("black",190)

In [24]:
print(hld.colour_)

black

In [26]:
class Rose:
    def __init__(rose,colour,price):
        rose.colour_ = colour
        rose.price_ = price
        class _2rose:
            def __init__(_2rose,colour,price):
                _2rose._2colour_ = colour2
                _2rose._2price_ = price2

In [27]:
hld = Rose("black",100)
dlh = _2rose("peach",180)

NameError: name '_2rose' is not defined

In [40]:
class Rose:
    def __init__(rose,colour,price):
        rose.colour_ = colour
        rose.price_ = price
        
    class _2rose:
        def __init__(_2rose,colour,price):
            _2rose._2colour_ = colour2
            _2rose._2price_ = price2

In [43]:
class Rose:
    def __init__(rose,colour,price):
        rose.name_ = rose
        rose.colour_ = colour
        rose.price_ = price
        
class _2rose:
    def __init__(_2rose,colour,price):
        _2rose._2colour_ = colour
        _2rose._2price_ = price

In [44]:
hld = Rose("black",100)
dlh = _2rose("peach",180)

In [45]:
print(hld.price_)
print(dlh._2colour_)
print(hld.name_)

100
peach
<__main__.Rose object at 0x000002120239FBB0>

In [34]:
hld = Rose("black",100)
dlh = _2rose("peach",180)

In [38]:
print(hld.price_)
print(dlh._2colour_)
print(hld.name_)

100
peach
<__main__.Rose object at 0x000002120239F340>

In [47]:
class Rose:
    def __init__(rose,colour,price):
        rose.colour_ = colour
        rose.price_ = price
        
    class _2rose:
        def __init__(_2rose,colour,price):
            _2rose._2colour_ = colour2
            _2rose._2price_ = price2
            
hld = Rose("black",100)
dlh = _2rose("peach",180)


print(hld.price_)
print(dlh._2colour_)

100
peach

In [40]:
class func_:
    class func2_:
        def __init__(rose,colour,price):
            rose.colour_ = colour
            rose.price_ = price
            
            
hld = func_("black",100)


print(hld.price_)

TypeError: func_() takes no arguments

In [42]:
class func_:
    def __init__(lily,colour,price):
        class func2_:
            def __init__(rose,colour,price):
            rose.colour_ = colour
            rose.price_ = price
            
            
hld = func_("black",100)


print(hld.price_)

IndentationError: expected an indented block after function definition on line 4 (3086493748.py, line 5)

In [43]:
# methods are defined for the objects of the particular class whereas fuctions are not defined for a particular class.

# Class Attributes

1. Insatance Variables
2. Class Variables

In [44]:
# Instance variable - Attached to an instance(Objects)of a class.
#                   - Defined inside any method but generally inside the __init__()method.


# class variable - Attached to the class.
#                - Declared to the class but outside of any method.

In [7]:
class student:
    #class variable
    school_name = "ABC school"
    
    def __init__(self,name,age):
        #instance vriables
        self.name = name
        self.age = age
        
s1 = student("Jack" ,12)

In [8]:
# access instance variables
print("Student:",s1.name,s1.age)

Student: Jack 12

In [9]:
# access class variables
print("School name:",student.school_name)

School name: ABC school

In [10]:
# methods are functions which are made inside the class.
# methods are functions which are defined inside the class.
# functions which are made into the class it will called as method.
# methods are defined for the objects of a particular class whereas functions are not defined for a particular class.

In [11]:
"data"+""+"science"

'datascience'

In [12]:
list1 = [9,8,7]
result = list1*2
print(result)

[9, 8, 7, 9, 8, 7]

In [13]:
# modify instance variables
s1.name  = "Tom"
s1.age = 14
print('Student :',s1.name,s1.age)

Student : Tom 14

In [14]:
# modify class variables
student.school_name = "XYZ School"
print("School name :", student.school_name)

School name : XYZ School

In [15]:
# Experiments
s2= student("james",12) # s2 a new object.
s2.school_name = "XYZ School" #  THis creates an instance variable 'school_name' for s2.
print(s2.school_name)
print(student.school_name)# But the class variable "school_name" does not change

XYZ School
XYZ School

In [16]:
# class variable will not change untill we change them with there class name .

In [17]:
# every object will have there own copy for the instance variable.
# but the class name is comman for all objects.that means all objects will have same copy,
# every object will share the same class variable.
# every instance(object) will have there own instance variables.

In [18]:
s1.profession = "data science"# this will make one instance variable for the particular object s1. 
s2.profession

AttributeError: 'student' object has no attribute 'profession'

In [19]:
Student.profession = "data science"# this will make an one more class variable # no it will not it will make instance variable 
# there will ony have only one class variable.

NameError: name 'Student' is not defined

In [20]:
# the instance variable can be created inside or outside of the class.
# if u will try to access the instance or class variable with the same name it will access the instance varible ,
# and if u want to acccess the class variable u have to write class name.

# Deleting object attributes

In [21]:
del s2.school_name

In [22]:
s2.school_name

'XYZ School'

# Deleting an object

In [23]:
del s2

In [24]:
s2.school_name

NameError: name 's2' is not defined

In [25]:
del student.school_name

In [26]:
student.school_name

AttributeError: type object 'student' has no attribute 'school_name'