# Data manupulation with pandas

Pandas is a Python package that allows you to work large datasets.

In [4]:
import pandas as pd  # Importing the pandas library

##  Series

Pandas Series objects are generally created from the following data types:-
    1. Scalar 
    2. ndarray
    3. Dictionary
    4. List

Syntax-----pd.Series(data,index,dtype)

In [5]:
# Creating from a scalar value
x = pd.Series("string")
x

0    string
dtype: object

In [6]:
# Creating from an ndarray
import numpy as np
arr = np.array([1,2,3,4,5])
series1 = pd.Series(arr)
print(series1)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [7]:
# Creating from a list
lst = [1,2,3,4,5,6,7,8,9]
series2 = pd.Series(lst)
series2

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [8]:
# Creatng from a dictionary
# Keys of the dictionary become the index
dict_ = {"a":1,"b":2,"c":3,"d":4}
series3 = pd.Series(dict_)
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

#  Providing  the index

In [12]:
x = pd.Series(["Welcome","to","Vijai"], index = [1,"b",2.3])
x

1      Welcome
b           to
2.3      Vijai
dtype: object

In [11]:
x = pd.Series(["Welcome to Vijai"], index = ["a","b","c"])
x

ValueError: Length of values (1) does not match length of index (3)

In [13]:
x = pd.Series(["Welcome","to","Vijai"], index = [1,2,3])
x

1    Welcome
2         to
3      Vijai
dtype: object

In [ ]:
s1 = pd.Series(dict_)

# Important Operations
* Data alignment is instrinsic.
* Using Numpy functions or Numpy operations,such as filtering with a boolean array and Scalar 
multipication will preserve the index - value link.

In [13]:
# Boolean series
y = pd.Series([1,2,3,4,4,7,2,8])
y>=4  # This gives a boolean series

0    False
1    False
2    False
3     True
4     True
5     True
6    False
7     True
dtype: bool

In [14]:
y[y>=4]

3    4
4    4
5    7
7    8
dtype: int64

In [15]:
# Multiplying by a scalar
y*3

0     3
1     6
2     9
3    12
4    12
5    21
6     6
7    24
dtype: int64

In [16]:
y+3

0     4
1     5
2     6
3     7
4     7
5    10
6     5
7    11
dtype: int64

In [17]:
y/3

0    0.333333
1    0.666667
2    1.000000
3    1.333333
4    1.333333
5    2.333333
6    0.666667
7    2.666667
dtype: float64

In [18]:
y-3

0   -2
1   -1
2    0
3    1
4    1
5    4
6   -1
7    5
dtype: int64

In [19]:
np.sqrt(y)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.000000
5    2.645751
6    1.414214
7    2.828427
dtype: float64

In [21]:
x = pd.Series([1,2,3])
y = pd.Series([2,3,4])
x+y

0    3
1    5
2    7
dtype: int64

In [32]:
x = pd.Series(["6","7","8"],index = ["a","b","c"])
y = pd.Series(["3","4","5","4"] ,index = ["g","h","i","e"])
x+y

a    NaN
b    NaN
c    NaN
e    NaN
g    NaN
h    NaN
i    NaN
dtype: object

NaN = Not a number

In [29]:
a = pd.Series([1,"abc",2.3,True])
print(a)

0       1
1     abc
2     2.3
3    True
dtype: object

In [36]:
x = pd.Series(["6","7","8"],index = ["a","b","c"])
y = pd.Series(["3","4","5","4"] ,index = ["b","a","c","d"]) # it was instrinsic
x+y

a     64
b     73
c     85
d    NaN
dtype: object

In [38]:
x = pd.Series(["6","7","8","2"],index = ["a","b","c",3])
y = pd.Series(["3","4","5","4"] ,index = ["b","a","c","d"])
x+y

3    NaN
a     64
b     73
c     85
d    NaN
dtype: object

# DataFrame

Pandas DataFrames bjects are generally created from the following data types:-
    1. ndarray
    2. Dictionary
    3. List
    4. Series
    5. DataFrame

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creating with nd array
new_data = pd.DataFrame(np.array([[1,2,3,4,5],   # Can create from 2D and 1D array
                           [6,7,8,9,10]]))

In [3]:
new_data

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [4]:
# Using a list
x = pd.DataFrame([[1,2,3,4],[5,6,7,8]])
x

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [7]:
# using a dictionary
dict_dataframe = pd.DataFrame({"a":{1:"Welcome",2:"To"},"b":{1:"Hello",2:"Hi"}})
print(dict_dataframe)

         a      b
1  Welcome  Hello
2       To     Hi

In [8]:
dict_df = pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})
dict_df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [24]:
# using a Series
series_df = pd.DataFrame(pd.Series({1:"a",2:"b",3:"c"}))
series_df

   0
1  a
2  b
3  c

In [12]:
# using DataFrame
df = pd.DataFrame(dict_df)
df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [13]:
list(df)

['a', 'b']

In [14]:
str(df)

'   a   b\n0  1   6\n1  2   7\n2  3   8\n3  4   9\n4  5  10'

In [16]:
np.array(df)

array([[ 1,  6],
       [ 2,  7],
       [ 3,  8],
       [ 4,  9],
       [ 5, 10]], dtype=int64)

In [17]:
int(df)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'DataFrame'

In [18]:
tuple(df)

('a', 'b')

In [19]:
dict(df)

{'a': 0    1
 1    2
 2    3
 3    4
 4    5
 Name: a, dtype: int64,
 'b': 0     6
 1     7
 2     8
 3     9
 4    10
 Name: b, dtype: int64}

In [20]:
set(df)

{'a', 'b'}

In [21]:
df+series_df  # Giving NaN cause the columns are different

    a   b    0
0 NaN NaN  NaN
1 NaN NaN  NaN
2 NaN NaN  NaN
3 NaN NaN  NaN
4 NaN NaN  NaN

In [25]:
df+dict_df   # here the rows and columns are same so the DataFrames are added

    a   b
0   2  12
1   4  14
2   6  16
3   8  18
4  10  20

In [26]:
d1 = pd.DataFrame([["a","b","c"],["d","e","f"]])
d1

   0  1  2
0  a  b  c
1  d  e  f

In [27]:
d2 = pd.DataFrame([["w","f","v"],["k","g","s"]])
d2

   0  1  2
0  w  f  v
1  k  g  s

In [28]:
d1+d2

    0   1   2
0  aw  bf  cv
1  dk  eg  fs

In [40]:
s1 = pd.Series([1,2,3,4])
s1

0    1
1    2
2    3
3    4
dtype: int64

| S.no | Name  |
|------|------ |
| 1.   |Bhumika|
| 2.   |Ridam  |
| 3.   |Reyansh|

|   Type         |            Notes         |
|----------------|--------------------------|
| df[column]     |Select single column or sequence of columns from the DataFrame|
| df[slice]      |Slice rows|
| df[Boolean array]|Filter rows|
| df[Boolean DataFrame]|Sets values based on some criterion|
| df.loc[rows]|Select single row or subset of rows from the DataFrame by label|
| df.loc[:,cols]|Select single column or subset of columns by label|
| df.loc[rows,cols]|Select both row(s) and column(s) by label|
| df.iloc[rows]|Select single rows and subset of rows from the DataFrame by integer position|
| df.iloc[:,cols]|Select single column or subset of columns by integer position|
| df.iloc[rows,cols]|Select both row(s) or column(s) by integer position|

In [1]:
import pandas as pd
df = pd.DataFrame({"a":[1,2,3,4,5],"b":[5,8,3,7,3],"c":[12,4,9,65,0]},index=["r1","r2","r3","r4","r5"])
df

    a  b   c
r1  1  5  12
r2  2  8   4
r3  3  3   9
r4  4  7  65
r5  5  3   0

In [2]:
df.loc["r1"]  # prints row r1
df.loc[["r1","r3","r2"]] # prints row r1,r2,r3
df.loc[["r1","r3","r2"],["a","c"]] # prints r1,r2,r3 and a,c
df.loc["r1":"r3","a":"b"]  # prints r1,r2,r3 and a,b

    a  b
r1  1  5
r2  2  8
r3  3  3

In [3]:
df.iloc[1:3,0:3]
df.iloc[[1,2],2]
df.iloc[[1,2],[0,1]]

    a  b
r2  2  8
r3  3  3

In [4]:
df.iloc[[0]]

    a  b   c
r1  1  5  12

In [5]:
df.loc[["r1","r3","r2"],["a","c"]]

    a   c
r1  1  12
r3  3   9
r2  2   4

In [33]:
df1 = pd.DataFrame({"Products":["Shampoo","Coconut Oil","Salt","Shoes","Jeans"],"Price":[1300,500,40,1200,2100]},index = ["p1","p2","p3","p4","p5"])
for i in df1:
    print(i)
#if "Price" in df1>"1000":
#    print(df1)

Products
Price

In [16]:
df1.loc[["p1","p4","p5"]]

   Products  Price
p1  Shampoo   1300
p4    Shoes   1200
p5    Jeans   2100

In [17]:
df1.loc[["p2","p3"]]

       Products  Price
p2  Coconut Oil    500
p3         Salt     40

In [21]:
df1.iloc[0]

Products    Shampoo
Price          1300
Name: p1, dtype: object

In [26]:
df1.iloc[[3]

   Products
p4    Shoes