# TYPE CASTING 
* Type casting converts one data to another data type. 
  (int(),float(),complex(),str(),list(),tuple(),dict(),set().

In [1]:
a = 10
float(a)

10.0

In [2]:
x = 56.89
int(x)

56

In [3]:
p = 8
bool(p)

True

In [4]:
str("1")

'1'

In [6]:
type(int("1")) # type is used to find the data type of the given data.

int

In [7]:
type(1)

int

In [8]:
print(float("a"))

ValueError: could not convert string to float: 'a'

In [9]:
print(float(a))

10.0

# ESCAPE SEQUENCES

* (   \'        = SINGLE SLASH )
* ( \n = NEW LINE )
* ( \\ = BACKSLASH )
* ( \b = BACKSPACE ) 
* ( \t = TAB ) 
* ( \r = CARRIAGE RETURN )

In [19]:
print("NAME  : \t ECONOMICS : \t  ACCOUNTS : \t  BUSINESS")

print("Bhumi :  \t   40  : \t   50  : \t   70")
print("Reyansh :\t   70  : \t   60  : \t   80")
print("Yami :   \t   60  : \t   68  : \t   78 ")

NAME  : 	 ECONOMICS : 	  ACCOUNTS : 	  BUSINESS
Bhumi :  	   40  : 	   50  : 	   70
Reyansh :	   70  : 	   60  : 	   80
Yami :   	   60  : 	   68  : 	   78

In [46]:
print("|NAME    |  ECONOMICS |    ACCOUNTS    |  BUSINESS   |")
print("|Bhumi   |\t  40  | \t   50  | \t   70|")
print("|Reyansh |\t  70  | \t   60  | \t   80|")
print("|Yami    |\t  60  | \t   68  | \t   78|")

|NAME    |  ECONOMICS |    ACCOUNTS    |  BUSINESS   |
|Bhumi   |	  40  | 	   50  | 	   70|
|Reyansh |	  70  | 	   60  | 	   80|
|Yami    |	  60  | 	   68  | 	   78|

In [10]:
print(''python'')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (107405224.py, line 1)

In [4]:
print('hi, everyone ! \'my name is bhumi\'')

hi, everyone ! 'my name is bhumi'

In [8]:
print('\'notebook saved\'')

'notebook saved'

In [13]:
print('\'python\'') # here by using single slash we can print python.print('\'notebook saved\'')

'python'

In [14]:
print('''python''') # by putting three single quotation marks it will became an doc strings.

python

In [15]:
print("PYTHON
       Data Science")

SyntaxError: unterminated string literal (detected at line 1) (2434837740.py, line 1)

In [16]:
print("""PYTHON
      Data Science""")

PYTHON
      Data Science

In [18]:
print("\n") # by printing \n we have the output with the space given by \n .

In [20]:
print("\\n") # to print \n we have to use backslash

\n

In [21]:
print("\nabc")

abc

In [22]:
print('\'\n\'')

'
'

In [23]:
print("\\b")

\b

In [11]:
print("myself :\tbhumi") # using tab escape sequence

myself :	bhumi

In [12]:
print('\tcar brands = supraa\t')

	car brands = supraa

In [14]:
print('\tcar \tbrands\t = \tsupraa\t')

	car 	brands	 = 	supraa

In [15]:
print("helloo\b")

helloo

In [16]:
print("my name is moon\r my name is bhumi")

 my name is bhumi

In [19]:
x = """ my name is \     
bhumi"""
print(x)

 my name is bhumi

In [4]:
x = """ MY NAME IS \n    
   BHUMI"""        # the new line character 
print(x)

 MY NAME IS

   BHUMI

In [3]:
int(type(6.7))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'type'

In [6]:
print("the topic is about \'type castings\'\b,\t\'escape sequences\'")

the topic is about 'type castings',	'escape sequences'